cadquery
#cadquery-ocp
#cadquery_vtk
deap
Django
django-cors-headers
django-filter
django-redis
djangorestframework
djangorestframework_simplejwt
drf-spectacular
matplotlib
numpy
openpyxl
ortools
pandas
plotly
psycopg2-binary
py3dbp
python-decouple
requests
trimesh
